In [1]:
import pandas as pd

df = pd.DataFrame({'제품' : ['사과', '딸기', '수박'],
                    '가격' : [1800, 1500, 3000],
                    '판매량' : [24, 38, 13]})

df

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [2]:
sum(df['가격']) / 3

2100.0

In [3]:
sum(df['판매량']) / 3

25.0